@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Red+Hat+Display:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-midnight bg-white antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading tracking-tight;
  }
}

@layer utilities {
  .glass {
    @apply bg-white backdrop-blur-md border border-white/20;
  }
}